name: build

on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: gradle/actions/wrapper-validation@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 25
      - run: ./gradlew build
      - uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: build-reports
          path: build/reports/
          retention-days: 30
